@charset "utf-8";

body { font-family: 'Noto Sans KR',"Helvetica Neue","Apple SD Gothic Neo",sans-serif;font-size:1.2em; text-transform:uppercase; margin:0; padding:0; }
ul { margin:0; padding:0; list-style:none; }
a { text-decoration:none; color:#000; display:block; }
p { margin:0;}
img { vertical-align:top; }
.pc {display:none;}

header {width:100%; height:auto; background: linear-gradient(to top, #17406e, #163972, #1e3274, #2c2873, #3a1a70); background-size: cover;  position:relative; }
header > p:first-child { font-size:22px; font-family:'Myriad Pro',sans-serif; text-align:right; color:#fff; padding:15px 4%;} 

header .txt1, header .txt2 {font-family:'Barlow Condensed',sans-serif; position: relative; padding:0 4%;}
header .txt1 { top:15px;}
header .txt1 p:first-of-type {font-family:'Takota',sans-serif; font-size:85px; color:#ff0068;}
header .ss {font-weight:500; font-size:10px; text-align:center; color:#fff;background-color:#3a1a70; border:1px solid #fff; width:65px; height:15px; border-radius:100%; padding:5px; line-height:15px;}
header .txt1 > .ss {position: absolute; top:0; left:8px; transform: rotate(18deg); }
header .txt2 p:first-of-type { font-size:85px; color:#3a1a70; text-shadow:-1px 0px 0px #fff,1px 0px 0px #fff,0px -1px 0px #fff,0px 1px 0px #fff;}
header .txt2 > .ss { position: absolute; bottom:0; right:10px; transform:rotate(-20deg);}

header > p:nth-of-type(2) { text-align:center; font-size:11px; color:#fff; font-weight:500; margin-top:30px; margin-bottom:50px; }

header ul {width:100%; display:flex; justify-content:center; border-top:4px double #fff; border-bottom:4px double #fff; }
header ul li { width:33.3333%; height:70px; border-right:1px solid #fff; position: relative;}
header ul li:first-child { line-height:70px;}
header ul li:nth-of-type(2) a { padding-top:22px; line-height:1.2; }
header ul li:last-child { border-right:none; line-height:70px;}

header ul li a { color:#fff; font-size:12px; font-weight:700; text-align:center;}

header > img:first-of-type { width:150px; position: absolute; left:-33px; top:47%;}

header .txt3 {height:180px; overflow:hidden; text-align:center; margin-top:100px; position: relative;}
header .txt3 p:first-child { font-size:43px; color:#fff; font-weight:700;}
header .txt3 span {font-size:35px; color:#3a1a70;  text-shadow:-1px 0px 0px #fff,1px 0px 0px #fff,0px -1px 0px #fff,0px 1px 0px #fff; font-weight:500; }
header .txt3 p:last-of-type { font-family:'Takota',sans-serif; font-size:28px; color:#ff0068; transform:rotate(-13deg); position:absolute; bottom:70px; right:20px;}
header .txt3 img { width:160%; position:absolute; bottom:0; left:-32%; z-index:999;}

.contents { background-color:#000; }
.contents .box {display:flex; box-sizing:border-box; position: relative; border-bottom:2px solid #ff0068; padding:3%;}
.contents .box:last-child { border-bottom:none;} 
.contents .box div hr { width:15px; border:2px solid #ff0068; margin:0; margin-bottom:15px;}
.contents .box h2 { line-height:1; font-size:48px; font-family:'Barlow Condensed',sans-serif; text-align: right; margin:0; text-shadow:-1px 0px 0px #ff0068,1px 0px 0px #ff0068,0px -1px 0px #ff0068,0px 1px 0px #ff0068; color:#000; position:absolute; top:35px; right:5%;}
.contents .box:nth-child(3) h2 { top:10px;}
.contents .box .mo { width:53.5%; }
.contents .box div { position: absolute; bottom:25px; margin:0;}
.contents .box .txtBox1 { right:3.5%;}
.contents .box .txtBox2 { right:2%;}
.contents .box .txtBox3 { right:7.5%;} 
.contents .box .txtBox4 { right:10%;} 
.contents .box .txtBox5 { right:13%;} 
.contents .box .txtBox6 { right:7.2%;} 
.contents .box div p { color: #ff0068; font-weight:500;}
.contents .box div p em { font-style:normal; text-transform:lowercase;}
.contents .box div p:first-of-type { font-size:12px; margin-bottom:15px;} 
.contents .box div p:last-of-type { font-size:14px;} 

.asied {width:100%; height:100%; background-color: #ff0068; font-size:15px; }
.asied .box1 {height:215px; font-family:'Barlow Condensed',sans-serif; font-size:75px; color:#fff; position: relative; border-bottom:2px solid #3a1a70; }
.asied .box1 hr { width:214.4px; border:1px solid #3a1a70; margin:0; transform:rotate(90deg); position: absolute; top: 107px; left:82px; } 
.asied .box1 p:first-child { position: absolute; top:30px; left:10%; z-index:9;}
.asied .box1 p:nth-child(3) { position: absolute; top:100px; right:10%; z-index:99;}
.asied .box1 .i {font-weight:500; font-size:10px; text-align:center; color:#fff;background-color:#ff0068; border:1px solid #fff; width:65px; height:15px; border-radius:100%; padding:5px; line-height:15px; z-index:999;}
.asied .box1 p:nth-child(2) { transform:rotate(20deg); position: absolute; top:85px; left:3%;}
.asied .box1 p:nth-child(4) { transform:rotate(-20deg); position:absolute; top:150px; right:3%;}

.asied .bera { color:#fff; padding-top:30px; padding-bottom:20px; position: relative; line-height:1.4; border-bottom:2px solid #3a1a70; }
.asied .bera > p:first-child { font-size:11px; border:1px solid #fff; background-color:#ff0068; border-radius:50%; width:34px; height:34px; line-height:34px; text-align:center; transform:rotate(-30deg); position:absolute; top:-17px; left:3%;}
.asied .bera .brBox1 { display:flex; justify-content:space-around; padding:0 6%; }
.asied .bera .brBox1 img { width:40%; vertical-align:top; margin-top:5px; margin-left:2%;}

.asied .bera .brBox1 .brtxt h4 { margin-bottom:15px; }
.asied .bera .brBox1 .brtxt h4 span { margin-left:15.5%;}
.asied .bera .brBox1 .brtxt p { font-size:14px;}
.asied .bera .brBox1 .brtxt p span { color:#3a1a70; font-weight:500;}

.asied .voting {display:flex; justify-content:center; background-color:#3a1a70; text-align:center; position: relative; margin:20px 0;}
.asied .voting div { margin:17px auto; line-height:1.5;}
.asied .voting h3 { font-size:18px;}
.asied .voting p { font-size:14px;}
.asied h4, .asied h3 { margin: 0;}

.asied .brBox2 {margin-left:6%; font-size:12px; line-height:1.6;}
.asied .brBox2 p span { color:#3a1a70; font-weight:700;}
.asied .brBox2 p:nth-child(2) { margin-left:40px;}
.asied .brBox2 p:nth-child(4) { color:#3a1a70;}
.asied .brBox2 h4 { font-size:14px; margin:5px 0;}
.asied .brBox2 ul li span { margin-left:7px;}

.asied .coupon { padding-top:30px; color:#fff; position: relative; padding-bottom:30px; border-bottom:2px solid #3a1a70; background-color:#ff0068; }
.asied .coupon > div > h4 { font-size:15px; margin-bottom:15px; padding-left:6%; }
.asied .coupon > div:first-child p { font-size:14px; line-height:1.4; margin-left:6%;}
.asied .coupon div p span { color:#3a1a70; font-weight:500;}
.asied .coupon > p:nth-of-type(1) {width:48px; height:48px; text-align:center; font-size:9px; background-color:#ff0068; border-radius:50%; border:1px solid #fff;display:flex; flex-direction: column; justify-content:center; padding:2px; margin:0; position: absolute; left:23%; top:120px; }
.asied .coupon > img { width:40%; display:block; margin:40px auto; margin-bottom:0;}
.asied .coupon > .voting { margin-top:0;}
.asied .coupon > h4 { font-size:14px; margin: 5px 0; margin-left:6%;}
.asied .coupon ul { font-size:12px; line-height:1.6; margin-left:6%;}
.asied .coupon > p:last-child {margin-top:8px; margin-left:6%; font-size:12px; color:#3a1a70;}
.asied .coupon > p:last-child span { font-weight:700;}

.md {background-color: #ff0068; padding-top:40px; padding-bottom:20px;}
.md .mdBox {font-family:'Barlow Condensed',sans-serif; position: relative;}
.md .mdBox .i {font-weight:500; font-size:10px; text-align:center; color:#fff;background-color:#ff0068; border:1px solid #fff; width:65px; height:15px; border-radius:100%; padding:5px; line-height:15px;}
.md .mdBox p:first-child {text-align:center; font-size:80px; color:#fff;}
.md .mdBox p:first-child span { color:#ff0068; text-shadow:-1px 0px 0px #fff,1px 0px 0px #fff,0px -1px 0px #fff,0px 1px 0px #fff;}
.md .mdBox p:nth-child(2) { font-family:'Takota',sans-serif; font-size:25px; color: #3a1a70; transform:rotate(-15deg); position: absolute; top:13px; left:38%;}
.md .mdBox p:nth-child(3) { position: absolute; bottom:10px; left:20px; transform:rotate(20deg); }
.md .mdBox p:nth-child(4) {position: absolute; bottom:30px; right:20px; transform:rotate(-20deg); }
.md > p:first-of-type { color:#fff; font-size:12px; text-align: center; margin:15px 0 40px;}
.md .mdBox2 img { width:346px; display:block; margin:0 auto;}
.md .mdBox2 { padding:0 4%; padding-bottom:50px;}
.md .mdBox2 p {color:#fff;}
.md .mdBox2 > p:first-of-type { font-size:22px; padding:15px 0; border-bottom:1px solid #fff;}
.md .mdBox2 .mdtxt { font-size:14px; display: flex; justify-content: space-between; padding:15px 0; border-bottom:2px solid #fff; font-weight:400;}

.card { background-color:#3a1a70; color:#fff;  text-align: center; padding-top:50px; padding-bottom:50px; position: relative;}
.card h3 { font-size:65px; margin:0 auto;}
.card > p:first-of-type { color: #ff0068; font-size:46px; font-family:'Takota',sans-serif; transform: rotate(-18deg); position: absolute; right:14%; top:90px;}
.card > p:nth-of-type(2) { margin-top:20px; margin-bottom:5px; font-size:13px;}
.card > p:nth-of-type(3) { color: #ff0068; font-size:13px; margin-bottom:40px;}
.card .cardBox { margin-bottom:80px;}
.card .cardBox img {width: 264px;}
.card .cardBox h2 { font-size:30px; margin:0; margin-top:30px; margin-bottom:10px;}
.card .cardBox p { color:#ff0068;}
.card .cardBox a { width:240px; margin:0 auto; color:#fff; border:1px solid #fff; padding:10px; margin-top:20px; }

.card .pf {font-size:14px; letter-spacing:0.8px; display:flex; font-weight:300; position:absolute; bottom:40px; right:30px; }
.card .pf li { margin-right:8px; color:#fff; }
.card .pf li a { color:#fff; }
.card .pf span { text-transform:capitalize;}
.card .pf li:active a { color:#ff0068;}

@media (min-width:1280px) {
    body { background-color:#ff0068; }
    .pc { display:block; }

    header { height:auto; background: linear-gradient(to top, #17406e, #163972, #1e3274, #2c2873, #3a1a70); background-size: cover;  border-bottom:none; }
    header > p:first-child { font-size:36px; padding:60px 4%;} 
    header .txt1, header .txt2 { padding:0; }
    header .txt1 { position:absolute; top:100px; left:10%;}
    header .txt2 { position:absolute; top:300px; right:10%;}
    header .txt1 p:first-of-type { font-size:240px; }
    header .ss { font-size:20px; border:2px solid #fff; width:146px; height:34px; line-height:33px;}
    header .txt1 > .ss { top:10px; left:-5%; }
    header .txt2 p:first-of-type { font-size:240px; }
    header .txt2 > .ss { bottom:100px; right:36%; }

    header > p:nth-of-type(2) { font-size:24px; margin-top:460px; margin-bottom:80px; }

    header ul li { width:20%; height:140px; border-right:1px solid #fff; position: relative; }
    header ul li:first-child { border-left:1px solid #fff; line-height:140px;}
    header ul li:nth-of-type(2) a { padding-top:38px; }
    header ul li:last-child { border-right:1px solid #fff; line-height:140px;}
    header ul li a { font-size:28px; }

    header > img:first-of-type { width:27.5%; left:-6%; top:23.5%;}

    header .txt3 {height:50vh; }
    header .txt3 p:first-child { font-size:100px; }
    header .txt3 span { font-size:80px; }
    header .txt3 p:last-of-type { font-size:46px; bottom:50%; right:29%;}
    header .txt3 img { width:100%; left:0;}

    .contents { display:flex; flex-flow:wrap; }
    .contents .box .mo { display:none; }
    .contents .box { width:50%; padding:1%; overflow:hidden; box-sizing:border-box;}
    .contents .box img { width:45%; margin:0 auto;}
    .contents .box:nth-child(odd) { border-right:2px solid #ff0068;}
    .contents .box div { position: absolute; top:10%; margin:0;}
    .contents .box .txtBox1, .contents .box .txtBox3, .contents .box .txtBox5 { left:75%;}
    .contents .box .txtBox2, .contents .box .txtBox4, .contents .box .txtBox6 {  text-align:right; right:75%;}
    .contents .box div hr { width:21px; margin:0; margin-bottom:30px; display:inline-block;}
    .contents .box div p span { display:block; }
    .contents .box div p:first-of-type { font-size:18px; margin-bottom:30px;} 
    .contents .box div p:last-of-type { font-size:22px;} 
    .contents .box:nth-child(5) { border-bottom:none;} 

    .contents .box h2 { width:100%; line-height:0; letter-spacing:1px; font-size:70px; transform:rotate(-90deg); text-align:inherit; margin:0; position:absolute; top:0; left:26%; display:flex; }
    .contents .box .odd { left:-26%; transform:rotate(90deg);}
    .contents .box:first-child h2 { top:80.5%; }
    .contents .box:nth-child(2) h2 { top:40%; }
    .contents .box:nth-child(3) h2 { top:80.5%;}
    .contents .box:nth-child(4) h2 { top:36%;}
    .contents .box:nth-child(5) h2 { top:80%;}
    .contents .box:last-child h2 { top:49%;}

    .asied { height:87vw; background:url(images/bg2.png) no-repeat, #ff0068; background-size:cover; border-bottom:1px solid #3a1a70; background-position-x:-3px;}
    .asied .box1 {width:50%; height:20vw; margin:0 auto; font-size:9vw; position:relative; border-bottom:none; }
    .asied .box1 hr { display:none;}
    .asied .box1 p:first-child { top:8%; left:10%; }
    .asied .box1 p:nth-child(3) { top:42%; right:10%; }
    .asied .box1 .i { font-size:20px; border:2px solid #fff; width:146px; height:34px; line-height:33px; }
    .asied .box1 p:nth-child(2) { top:43%; }
    .asied .box1 p:nth-child(4) { top:75%; }

    .asied .bera  { width:45%; height:30vw; padding-top:0; position:relative; display:flex; flex-direction:column; align-items:center; padding-bottom:0; border-bottom:none; margin-left:12%; }
    .asied .bera > p:first-child { font-size:1.1vw; border:2px solid #fff; width:3.5vw; height:3.5vw; line-height:3.5vw; top:10px; left:11%; z-index:9999;}
    .asied .bera .brBox1 { width:60%; justify-content:center; padding:0; transform: translateY(50%); }
    .asied .bera > img { width:60%; position:absolute; bottom:-118%; left:-10.5%;}
   
    .asied .bera .brBox1 .brtxt {width:70%; margin-top:-10px;}
    .asied .bera .brBox1 .brtxt h4 { margin-bottom:20px; font-size:1.3vw;}
    .asied .bera .brBox1 .brtxt p { font-size:1.1vw;}

    .asied .voting {width:31vw; position:relative; top:20%; margin:20px 0; margin-left:-0.57%;}
    .asied .voting div { margin:20px auto; }
    .asied .voting h3 { font-size:1.5vw;}
    .asied .voting p { font-size:1.1vw;}

    .asied .brBox2 { width:60%; margin-left:0; font-size:18px; position:relative; bottom:-120px;}
    .asied .brBox2 p { font-size:1.1vw;}
    .asied .brBox2 p:nth-child(2) { margin-left:14%;}
    .asied .brBox2 h4 { width:60%; font-size:1vw; margin:20px 0 5px;}
    .asied .brBox2 ul li {font-size:0.9vw;}

    .asied .coupon {width:45%; padding-top:0; position:relative; display:flex; flex-direction:column; align-items:center; padding-bottom:0; border-bottom:none; margin-left:43.3%; background-color:transparent;}
    .asied .coupon > div { width:60%;}
    .asied .coupon > div > h4 { font-size:1.3vw; margin-bottom:20px; padding-left:0;}
    .asied .coupon > div:first-child p { font-size:1.1vw; margin-left:0; margin-bottom:5px;}
    .asied .coupon > p:nth-of-type(1) {width:4vw; height:4vw; font-size:0.8vw; border:2px solid #fff; position: absolute; left:32%; top:19%; }
    .asied .coupon > img { width:30%; margin:5.5% auto 0; margin-left:37%; }
    .asied .coupon > .voting {width:31vw; margin:0; position:relative; top:30%; left:-0.42%;}
    .asied .coupon > h4 { width:60%; font-size:1vw; margin:30px 0 15px 0; margin-left:-2%;}
    .asied .coupon ul {width:60%; font-size:0.9vw; margin-left:-2%;}
    .asied .coupon > p:last-child { width:60%; margin-left:-2%; margin-top:15px; margin-bottom:30px; font-size:0.9vw; }

    .md { padding-top:80px; padding-bottom:80px; }
    .md .mdBox .i { font-size:20px; border:2px solid #fff; width:146px; height:34px; line-height:33px; }
    .md .mdBox p:first-child { font-size:160px; }
    .md .mdBox p:nth-child(2) { font-size:46px; transform:rotate(-10deg); top:25px; left:45%;}
    .md .mdBox p:nth-child(3) { left:32%; }
    .md .mdBox p:nth-child(4) { bottom:55px; right:32%; }
    .md > p:first-of-type { font-size:22px; margin:25px 0 80px;}

    .md .mdBox1 { width:80%; margin:0 auto; display:flex; justify-content:space-around; } 
    .md .mdBox2 {width:50%; padding:0; padding-bottom:50px;}
    .md .mdBox2 img { width:480px; margin:0 auto; }
    .md .mdBox2 > p:first-of-type {width:480px; margin:0 auto; font-size:32px; padding:20px 0;}
    .md .mdBox2 .mdtxt { width:480px; margin:0 auto; font-size:22px; padding:20px 0; }

    .card {  padding-top:100px; padding-bottom:80px; }
    .card h3 { font-size:120px;}
    .card > p:first-of-type { font-size:70px; right:36%; top:170px;}
    .card > p:nth-of-type(2) { margin-top:35px; margin-bottom:10px; font-size:22px;}
    .card > p:nth-of-type(3) { font-size:22px; margin-bottom:80px;}
    .card > div {width:80%; margin:0 auto; display:flex; justify-content:space-around; }
    
    .card .cardBox {width:50%; margin-bottom:50px;}
    .card .cardBox:first-child img {width:440px;}
    .card .cardBox:last-child img {width:446.5px;}
    .card .cardBox h2 { font-size:42px; margin-top:30px; margin-bottom:15px;}
    .card .cardBox p { font-size:26px; }
    .card .cardBox a { width:440px; height:40px; font-size:24px; line-height:40px; margin-top:50px; }

    .card .pf {font-size:18px; right:40px; }
    .card .pf li:hover a { color:#ff0068;}
}