@charset "utf-8";

.container { width:100%; }
.container article {width:100%; height:100vh; background:no-repeat fixed; background-size:cover;}
.container #box1 { background-image: url(images/interior1.jpg); background-position:51% 0;}
.container #box2 { background-image: url(images/interior2.jpg); background-position:49% 0;}
.container #box3 { background-image: url(images/interior3.jpg); background-position:5% 0;}
.container #box4 { background-image: url(images/interior4.jpg); background-position:70% 0;}

@media (min-width:1280px) {
    body::-webkit-scrollbar { display:none; }
    #gnb {display: block; position:fixed; right:30px; top:50%; transform:translateY(-50%); z-index:99; }
    #gnb li a { display:block; color:#000; text-align:right; font-weight:400; margin:10px 0; font-size:0.9em; }
    #gnb li a::after { content:""; display:block; clear:both;}
    #gnb li a span { display:inline-block; float:right; }
    #gnb li a .dot { border-radius:50%; width:8px; height:8px; background-color:#000; text-indent:9999px; margin-top:5px; margin-left:20px; }
    #gnb li a.active .dot { transform:scale(2); background-color: #000;}
}