@charset "utf-8";

.container .contents { position: relative;}
.container .contents .intro { width: 90%; padding-top:53px; margin: 0 auto; box-sizing: border-box;}
.container .contents .intro h1 {margin: 0; font-weight: 500; font-size: 40px; margin-bottom:40px;}
.container .contents .intro p { font-size: 20px; line-height:1.8;}
.container .contents .intro p span {display: block; margin-bottom:40px;}
.container .contents .intro p strong { font-style: normal; font-size: 26px; font-weight: 500;}
.container .contents .intro p em {font-style: normal; font-size: 26px; font-weight: 600; text-transform: none; background-color: #fff; color: #000; padding:0 5px;}
.container .contents .intro .txt > p {text-align: justify; font-size: 16px; font-weight: 300; line-height: 1.6;}
.container .contents .program {margin:70px 4% 0;}
.container .contents .program h2 {margin: 0; font-weight: 500; border-bottom: 2px solid #fff; padding-left:2.13%; padding-bottom:13px;}
.container .contents .program .program_list {position: relative; padding: 23px 1.33% 35px; border-bottom:1px solid #fff;}
.container .contents .program .program_list:last-child {border-bottom: none;}
.container .contents .program .program_list .box .list p {margin:0 0 18px 0; font-size: 18px;}
.container .contents .program .program_list .txt p { padding-top: 5px; font-size: 16px; font-weight: 300; line-height: 1.6; text-align: justify;}
.container .contents .program .program_list .box .score ul {width:125px; display: flex; justify-content: space-between;}/*width: 33.3%;*/
.container .contents .program .program_list .box .score ul li { width:12px; height: 12px;  border: 1px solid #fff; border-radius: 50%;}/*width:10%;*/
.container .contents .program .program_list .box .score .ps { position: absolute; top: 26px; right:2%;}
.container .contents .program .program_list .box .score .ai { position: absolute; top: 64px; right:2%;}
.container .contents .program .program_list .box .score .xd { position: absolute; top: 26px; right:2%;}
.container .contents .program .program_list .box .score .ht { position: absolute; top: 26px; right:2%;}
.container .contents .program .program_list .box .score .cs { position: absolute; top: 64px; right:2%;}
.container .contents .program .program_list .box .score .ja { position: absolute; top: 103px; right:2%;}
.container .contents .program .program_list .box .score ul .white {background-color: #fff;}

@media (min-width:1280px) {
    .container .contents .intro p br {display:none;}
    .container .contents .intro { width:75%; margin: 0 auto; padding-top: 117px;}
    .container .contents .intro h1 {font-size: 80px;}
    .container .contents .intro p {display: flex; flex-flow:row wrap; font-size: 26px; line-height: 2;}
    .container .contents .intro p span {margin-bottom: 0; text-indent:8px;}
    .container .contents .intro p strong , .container .contents .intro p em {font-size: 34px;}
    .container .contents .intro .txt { margin: 0 auto; }
    .container .contents .intro .txt > p {margin: 0; font-size: 24px; padding-left: 0.416%;}
    .container .contents .program { width:76%; margin: 0 auto; margin-top: 130px; padding-bottom: 80px; box-sizing: border-box;}
    .container .contents .program h2 {font-size: 36px; padding-bottom: 18px; margin-bottom: 35px; padding-left:1%;}
    .container .contents .program .program_list {border: none; display: flex; padding: 0 1% 73px}/* padding: 0 1% 5%*/
    .container .contents .program .program_list .box {width:55%;}
    .container .contents .program .program_list .box .list p {font-size: 28px;}
    .container .contents .program .program_list .txt {width:45%; margin-top: -17px; display: flex; flex-direction: column; justify-content: center;}
    .container .contents .program .program_list .txt p {font-size: 24px; margin: 0; padding: 0; line-height: 1.4;}
    .container .contents .program .program_list .box .score ul { width:230px;}
    .container .contents .program .program_list .box .score ul li { width:20px; height: 20px;}/*8.7%*/
    .container .contents .program .program_list .box .score .ps { top: 6px; left:31%;}
    .container .contents .program .program_list .box .score .ai { top: 56px; left:31%;}
    .container .contents .program .program_list .box .score .xd { top: 6px; left:31%;}
    .container .contents .program .program_list .box .score .ht { top: 6px; left:31%;}
    .container .contents .program .program_list .box .score .cs { top: 56px; left:31%;}
    .container .contents .program .program_list .box .score .ja { top: 106px; left:31%;}
}