@charset "utf-8";

ul { margin:0; padding:0; list-style:none; }
a { display:block; text-decoration:none; color:inherit;}
h1, h2, h3 { margin:0;}

.flex_wrap { font-family: 'Noto Sans KR',"Helvetica Neue","Apple SD Gothic Neo",sans-serif; text-transform:capitalize;}
header { position:relative;}
header .bg {width:100%; height:100vh; text-indent:-9999px; background: linear-gradient(-60deg,rgba(0, 0, 0, 0.83) 54%,rgba(255,0,172,0.7)) no-repeat, url(images/contact1_guide/mainMobile.jpg) no-repeat; background-size:cover; }
header h1 { text-transform:uppercase; color:#fff; font-size:32px; margin-bottom:10px; }
header p { color:#ff00ac; margin:0; font-size:20px; font-weight:700;}
header .bgTxt { position:absolute; top:50%; left:10%; transform:translateY(-50%); text-align:center;}

.container .gnb { width:100%; height:88px; display:flex; text-align:center; font-size:36px; text-transform:uppercase; }
.container .gnb li { width: 50%; line-height: 88px; background-color:#fff; font-weight:700;}
.container .gnb li:active{ text-decoration: line-through;}
.container .gnb li.style { text-decoration: line-through; background-color: #000; color:#ff00ac;}
.container .gnb.active { position:fixed; top:0; height:65px; font-size:30px; transition:.7s;}
.container .gnb.active li { line-height:65px;}

.contents { background-color:#000; color:#fff; padding:90px 5% 50px; }
.contents h2 { color:#ff00ac; font-size:26px; font-weight:700; margin-bottom:30px;}
.contents h3 { font-size:22px; font-weight:500;}
.contents p {font-size:18px; margin:15px 0 40px; font-weight:300; }

.contents .sum, .contents .pub, .contents .guide { margin-bottom:70px; }
.contents .sum .txt { padding-left:3%;}
.contents .sum .txt p { text-indent:8px; }
.contents .sum .txt div p span { text-transform:lowercase;}
.contents .sum > p { font-size:18px; line-height:1.6; text-align:justify; margin-top:45px; padding:0 3%;}

.contents .box .pub ul li { font-size:18px; line-height:1.6; margin:20px 0; padding:0 3%; text-align:justify; text-transform:none; }

.contents .box .guide div { padding-left:3%;}
.contents .box .guide div p { text-indent:8px;}
.contents .box .guide .typo { margin-bottom:40px;}
.contents .box .guide .typo h3 { margin-bottom:15px;}
.contents .box .guide .typo p { margin:15px 0;}
.contents .box .guide .typo p:first-of-type { font-weight:300; }
.contents .box .guide .typo p:nth-of-type(2) { font-weight:400; }
.contents .box .guide .typo p:last-of-type { font-weight:500; }

.contents .box .guide .color ul { width:100%; margin-top:15px; display:flex; justify-content:space-between; }
.contents .box .guide .color ul li { width:70px; height:70px; line-height:70px; text-align:center; text-transform:lowercase; border-radius:50%;}
.contents .box .guide .color ul li:first-child { background-color:#afafaf;} 
.contents .box .guide .color ul li:nth-child(2) { background-color:#404041;} 
.contents .box .guide .color ul li:nth-child(3) { background-color:#a52a2a;} 
.contents .box .guide .color ul li:last-child { background-color:#ff0000;} 

footer {width:100%; height:100vh; background: linear-gradient(45deg,#f73455,#ff00ac) no-repeat; background-size:cover; position:relative; }
footer div:first-child {width:330px; height:60px; border:1px solid #fff; text-align:center; line-height:60px; position:absolute; top:23%; left:50%; transform:translateX(-50%);}
footer div:first-child a { font-size:22px; color:#fff; transition:.7s; font-weight:500; }
footer div:first-child:active a { letter-spacing:1px; text-shadow:3px 3px 5px #404041; }
footer .shadow img { width:300px; position:absolute; bottom:0; left:50%; transform:translateX(-50%);}
footer .shadow { position:absolute; bottom:22%; left:23%; width:200px; height:40px; border-radius: 20px;
background-image: linear-gradient(top, hsla(0,0%,100%,.2) 1px, hsla(0,0%,100%, 0) 1px, hsla(0,0%,0%, .1) 100% );
box-shadow: 0 60px 12px -18px hsla(0,0%,0%,.1),0 60px 20px -12px hsla(0,0%,0%,.1);
animation: sha 1.5s infinite ease-in-out alternate; }
@keyframes sha {
	100% {
    transform: translateY(20px);
    box-shadow: 0 40px 10px -18px hsla(0,0%,0%,.2),
    			0 40px 16px -12px hsla(0,0%,0%,.2);
  }
}

@media (min-width:1280px) {

    header .bg { background: linear-gradient(to right bottom, #ff00aae3, #cd1483e3, #9b1a61e3, #6c1a41e3, #3f1526e3, #2c121be3, #1b0b10e3, #000000e3, #000000e3, #000000e3, #000000e3, #000000e3) no-repeat, url(images/contact1_guide/mainPc.jpg) no-repeat; }
    header h1 { font-size:80px; }
    header p { font-size:36px; }
    header .bgTxt {top:42.8%; left:50%; transform:translateX(-50%);}

    .container .gnb { height:222px; font-size:130px; }
    .container .gnb li { line-height:222px;}
    .container .gnb li:hover{ text-decoration: line-through;}
    .container .gnb.active { height:100px; font-size:56px;}
    .container .gnb.active li { line-height:100px;}

    .contents { padding:100px 8%; }
    .contents h2 { font-size:42px; margin-bottom:60px;}
    .contents h3 { font-size:32px; }
    .contents p {font-size:28px; margin:20px 0 50px; }

    .contents .sum, .contents .box .pub, .contents .box .guide { margin-bottom:150px; }
    .contents .sum .txt {width:100%; padding-left:2%; display:flex; justify-content:space-between;}
    .contents .sum .txt p { text-indent:13px; }
    .contents .sum .txt div:first-child {width:30%;}
    .contents .sum .txt div:nth-child(2) {width:40%;}
    .contents .sum .txt div:last-child {width:30%;}
    .contents .sum > p { font-size:26px; margin-top:10px; padding:0 2%;}

    .contents .box { display: flex; justify-content: space-between; }
    .contents .box .pub { width:54%;}
    .contents .box .guide { width:40%; }
    .contents .box .pub ul li { font-size:28px; padding-left:3%; margin:15px 0; }

    .contents .box .guide div { padding-left:4%;}
    .contents .box .guide div p { text-indent:13px;}
    .contents .box .guide .typo { margin-bottom:50px;}
    .contents .box .guide .typo h3 { margin-bottom:25px;}
    .contents .box .guide .typo p { margin:20px 0;}
    
    .contents .box .guide .color ul { width:540px; margin-top:25px; }
    .contents .box .guide .color ul li { width:110px; height:110px; line-height:110px; font-size:20px; }

    footer div:first-child {width:26.2%; height:75px; line-height:75px; top:50%; left:10%; transform:translateY(-50%); }
    footer div:first-child a { font-size:30px; }
    footer div:first-child:hover a { letter-spacing:1px; text-shadow:3px 3px 5px #404041; }

    footer .shadow img { width:700px; left:55%; padding-bottom:50px;}
    footer .shadow { width:20%; left:58%; bottom:30%; height:40px;}
}
